.indicator {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 30vh;
    left: 50vw;
  }
  
  .indicator:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fb0;
    border-color: #fb0 transparent #fb0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  .loading-spinner__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes indicator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }