.main-box {
    height: 6rem;
}

.heading-stack-one {
    
    font-family: Prompt;
    margin-left: 8vw;
    margin-top: 55vh;
    line-height: 1.1;
    font-size: 30px;
    color: #fb0;
}


.heading-stack-two {
    font-family: Prompt;
    margin-left:8vw;
    font-size: 30px;
    color: #fb0;
}

