.heading-stack-one {
    font-family: Prompt;
    margin-left: 8vw;
    margin-top:10vw;
    line-height: 1.1;
    font-size: 30px;
}


.heading-stack-two {
    font-family: Prompt;
    margin-left:8vw;
    font-size: 30px;
}

